@using Kernel.Models
@model User

@{
    ViewBag.Title = "Добавление нового пользователя";
}

<div class="alert alert-light" role="alert"><b>Заполните регистрационную форму</b></div>

<form action="/User/Add" method="post">
    <div class="alert alert-light" role="alert">Выберите тип услуги</div>
    <div class="form-check">
        <input id="serv-domain-radio" name="Service.ServiceType" type="radio" value="Domain" class="form-check-input" checked>
        <label for="serv-domain-radio" class="form-check-label">Домен</label>
    </div>
    <div class="form-check">
        <input id="serv-host-radio" name="Service.ServiceType" type="radio" value="Host" class="form-check-input">
        <label for="serv-host-radio" class="form-check-label">Хостинг</label>
    </div>

    <!-- Общая часть формы -->
    <div class="common>">
        <div class="alert alert-light" role="alert">Введите желаемые логин и пароль для доступа к панели управления</div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input id="user-login" name="Login" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="user-password" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input id="user-password" name="Password" type="password" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="user-password-confirm" class="col-sm-2 col-form-label">Повторите пароль</label>
            <div class="col-sm-10">
                <input id="user-password-confirm" name="user-password-confirm" type="password" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Введите действующий адрес электронной почты</div>
        <div class="form-group row">
            <label for="user-email" class="col-sm-2 col-form-label">Электронная почта</label>
            <input id="user-email" name="Email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="alert alert-light" role="alert">Укажите способ восстановления забытого пароля</div>
        <div class="alert alert-light" role="alert">Восстановление пароля</div>
        <div class="form-check">
            <input id="user-email-recovery" name="RecoveryType" type="radio" value="Email" class="form-check-input" checked>
            <label for="user-email-recovery" class="form-check-label">по электронной почте</label>
        </div>
        <div class="form-check">
            <input id="user-statement-recovery" name="RecoveryType" type="radio" value="Statement" class="form-check-input">
            <label for="user-statement-recovery" class="form-check-label">по заявлению</label>
        </div>
        <div class="content-line-row"></div>
        <div class="alert alert-light" role="alert"><b>Реквизиты для заключения договора</b> (Конфиденциальные сведения)</div>
        <div class="alert alert-light" role="alert">Юридические реквизиты</div>
        <div class="form-group row">
            <label for="user-country" class="col-sm-2 col-form-label">Страна</label>
            <select id="user-country" name="Country" class="form-control">
                <option value="AU">Австралия</option>
                <option value="AT">Австрия</option>
                <option value="AZ">Азербайджан</option>
                <option value="AL">Албания</option>
                <option value="DZ">Алжир</option>
                <option value="AS">Американское Самоа</option>
                <option value="AI">Ангилья</option>
                <option value="AO">Ангола</option>
                <option value="AD">Андорра</option>
                <option value="AQ">Антарктида</option>
                <option value="AG">Антигуа и Барбуда</option>
                <option value="AR">Аргентина</option>
                <option value="AM">Армения</option>
                <option value="AW">Аруба</option>
                <option value="AF">Афганистан</option>
                <option value="BS">Багамы</option>
                <option value="BD">Бангладеш</option>
                <option value="BB">Барбадос</option>
                <option value="BH">Бахрейн</option>
                <option selected="selected" value="BY">Беларусь</option>
                <option value="BZ">Белиз</option>
                <option value="BE">Бельгия</option>
                <option value="BJ">Бенин</option>
                <option value="BM">Бермуды</option>
                <option value="BG">Болгария</option>
                <option value="BO">Боливия</option>
                <option value="BA">Босния и Герцеговина</option>
                <option value="BW">Ботсвана</option>
                <option value="BR">Бразилия</option>
                <option value="IO">Британская территория в Индийском океане</option>
                <option value="BN">Бруней-Даруссалам</option>
                <option value="BF">Буркина-Фасо</option>
                <option value="BI">Бурунди</option>
                <option value="BT">Бутан</option>
                <option value="VU">Вануату</option>
                <option value="HU">Венгрия</option>
                <option value="VE">Венесуэла</option>
                <option value="VG">Виргинские острова, Британские</option>
                <option value="VI">Виргинские острова, США</option>
                <option value="VN">Вьетнам</option>
                <option value="GA">Габон</option>
                <option value="GY">Гайана</option>
                <option value="HT">Гаити</option>
                <option value="GM">Гамбия</option>
                <option value="GH">Гана</option>
                <option value="GP">Гваделупа</option>
                <option value="GT">Гватемала</option>
                <option value="GN">Гвинея</option>
                <option value="GW">Гвинея-Бисау</option>
                <option value="DE">Германия</option>
                <option value="GG">Гернси</option>
                <option value="GI">Гибралтар</option>
                <option value="HN">Гондурас</option>
                <option value="HK">Гонконг</option>
                <option value="GD">Гренада</option>
                <option value="GL">Гренландия</option>
                <option value="GR">Греция</option>
                <option value="GE">Грузия</option>
                <option value="GU">Гуам</option>
                <option value="DK">Дания</option>
                <option value="JE">Джерси</option>
                <option value="DJ">Джибути</option>
                <option value="DM">Доминика</option>
                <option value="DO">Доминиканская Республика</option>
                <option value="EG">Египет</option>
                <option value="ZM">Замбия</option>
                <option value="EH">Западная Сахара</option>
                <option value="ZW">Зимбабве</option>
                <option value="YE">Йемен</option>
                <option value="IL">Израиль</option>
                <option value="IN">Индия</option>
                <option value="ID">Индонезия</option>
                <option value="JO">Иордания</option>
                <option value="IQ">Ирак</option>
                <option value="IR">Иран, Исламская Республика</option>
                <option value="IE">Ирландия</option>
                <option value="IS">Исландия</option>
                <option value="ES">Испания</option>
                <option value="IT">Италия</option>
                <option value="CV">Кабо-Верде</option>
                <option value="KZ">Казахстан</option>
                <option value="KH">Камбоджа</option>
                <option value="CM">Камерун</option>
                <option value="CA">Канада</option>
                <option value="QA">Катар</option>
                <option value="KE">Кения</option>
                <option value="CY">Кипр</option>
                <option value="KG">Киргизия</option>
                <option value="KI">Кирибати</option>
                <option value="CN">Китай</option>
                <option value="CC">Кокосовые (Килинг) острова</option>
                <option value="CO">Колумбия</option>
                <option value="KM">Коморы</option>
                <option value="CG">Конго</option>
                <option value="CD">Конго, Демократическая Республика</option>
                <option value="CR">Коста-Рика</option>
                <option value="CI">Кот д'Ивуар</option>
                <option value="CU">Куба</option>
                <option value="KW">Кувейт</option>
                <option value="LA">Лаос</option>
                <option value="LV">Латвия</option>
                <option value="LS">Лесото</option>
                <option value="LR">Либерия</option>
                <option value="LB">Ливан</option>
                <option value="LY">Ливийская Арабская Джамахирия</option>
                <option value="LT">Литва</option>
                <option value="LI">Лихтенштейн</option>
                <option value="LU">Люксембург</option>
                <option value="MU">Маврикий</option>
                <option value="MR">Мавритания</option>
                <option value="MG">Мадагаскар</option>
                <option value="YT">Майотта</option>
                <option value="MO">Макао</option>
                <option value="MW">Малави</option>
                <option value="MY">Малайзия</option>
                <option value="ML">Мали</option>
                <option value="UM">Малые Тихоокеанские отдаленные острова Соединенных Штатов</option>
                <option value="MV">Мальдивы</option>
                <option value="MT">Мальта</option>
                <option value="MA">Марокко</option>
                <option value="MQ">Мартиника</option>
                <option value="MH">Маршалловы острова</option>
                <option value="MX">Мексика</option>
                <option value="FM">Микронезия, Федеративные Штаты</option>
                <option value="MZ">Мозамбик</option>
                <option value="MD">Молдова, Республика</option>
                <option value="MC">Монако</option>
                <option value="MN">Монголия</option>
                <option value="MS">Монтсеррат</option>
                <option value="MM">Мьянма</option>
                <option value="NA">Намибия</option>
                <option value="NR">Науру</option>
                <option value="NP">Непал</option>
                <option value="NE">Нигер</option>
                <option value="NG">Нигерия</option>
                <option value="AN">Нидерландские Антилы</option>
                <option value="NL">Нидерланды</option>
                <option value="NI">Никарагуа</option>
                <option value="NU">Ниуэ</option>
                <option value="NZ">Новая Зеландия</option>
                <option value="NC">Новая Каледония</option>
                <option value="NO">Норвегия</option>
                <option value="AE">Объединенные Арабские Эмираты</option>
                <option value="OM">Оман</option>
                <option value="BV">Остров Буве</option>
                <option value="CP">Остров Клиппертон</option>
                <option value="IM">Остров Мэн</option>
                <option value="NF">Остров Норфолк</option>
                <option value="CX">Остров Рождества</option>
                <option value="MF">Остров Святого Мартина</option>
                <option value="HM">Остров Херд и острова Макдональд</option>
                <option value="KY">Острова Кайман</option>
                <option value="CK">Острова Кука</option>
                <option value="TC">Острова Теркс и Кайкос</option>
                <option value="PK">Пакистан</option>
                <option value="PW">Палау</option>
                <option value="PS">Палестинская территория, оккупированная</option>
                <option value="PA">Панама</option>
                <option value="VA">Папский Престол (Государство - город Ватикан)</option>
                <option value="PG">Папуа-Новая Гвинея</option>
                <option value="PY">Парагвай</option>
                <option value="PE">Перу</option>
                <option value="PN">Питкерн</option>
                <option value="PL">Польша</option>
                <option value="PT">Португалия</option>
                <option value="PR">Пуэрто-Рико</option>
                <option value="MK">Республика Македония</option>
                <option value="RE">Реюньон</option>
                <option value="RU">Россия</option>
                <option value="RW">Руанда</option>
                <option value="RO">Румыния</option>
                <option value="WS">Самоа</option>
                <option value="SM">Сан-Марино</option>
                <option value="ST">Сан-Томе и Принсипи</option>
                <option value="SA">Саудовская Аравия</option>
                <option value="SZ">Свазиленд</option>
                <option value="SH">Святая Елена</option>
                <option value="KP">Северная Корея</option>
                <option value="MP">Северные Марианские острова</option>
                <option value="SC">Сейшелы</option>
                <option value="BL">Сен-Бартельми</option>
                <option value="SN">Сенегал</option>
                <option value="PM">Сен-Пьер и Микелон</option>
                <option value="VC">Сент-Винсент и Гренадины</option>
                <option value="KN">Сент-Китс и Невис</option>
                <option value="LC">Сент-Люсия</option>
                <option value="RS">Сербия</option>
                <option value="SG">Сингапур</option>
                <option value="SY">Сирийская Арабская Республика</option>
                <option value="SK">Словакия</option>
                <option value="SI">Словения</option>
                <option value="GB">Соединенное Королевство (GB)</option>
                <option value="UK">Соединенное Королевство (UK)</option>
                <option value="US">Соединенные Штаты</option>
                <option value="SB">Соломоновы острова</option>
                <option value="SO">Сомали</option>
                <option value="SD">Судан</option>
                <option value="SR">Суринам</option>
                <option value="SL">Сьерра-Леоне</option>
                <option value="TJ">Таджикистан</option>
                <option value="TW">Тайвань (Китай)</option>
                <option value="TH">Таиланд</option>
                <option value="TZ">Танзания, Объединенная Республика</option>
                <option value="TL">Тимор-Лесте</option>
                <option value="TG">Того</option>
                <option value="TK">Токелау</option>
                <option value="TO">Тонга</option>
                <option value="TT">Тринидад и Тобаго</option>
                <option value="TV">Тувалу</option>
                <option value="TN">Тунис</option>
                <option value="TM">Туркмения</option>
                <option value="TR">Турция</option>
                <option value="UG">Уганда</option>
                <option value="UZ">Узбекистан</option>
                <option value="UA">Украина</option>
                <option value="WF">Уоллис и Футуна</option>
                <option value="UY">Уругвай</option>
                <option value="FO">Фарерские острова</option>
                <option value="FJ">Фиджи</option>
                <option value="PH">Филиппины</option>
                <option value="FI">Финляндия</option>
                <option value="FK">Фолклендские острова (Мальвинские)</option>
                <option value="FR">Франция</option>
                <option value="GF">Французская Гвиана</option>
                <option value="PF">Французская Полинезия</option>
                <option value="TF">Французские Южные территории</option>
                <option value="HR">Хорватия</option>
                <option value="CF">Центрально-Африканская Республика</option>
                <option value="TD">Чад</option>
                <option value="ME">Черногория</option>
                <option value="CZ">Чешская Республика</option>
                <option value="CL">Чили</option>
                <option value="CH">Швейцария</option>
                <option value="SE">Швеция</option>
                <option value="SJ">Шпицберген и Ян Майен</option>
                <option value="LK">Шри-Ланка</option>
                <option value="EC">Эквадор</option>
                <option value="GQ">Экваториальная Гвинея</option>
                <option value="AX">Эландские острова</option>
                <option value="SV">Эль-Сальвадор</option>
                <option value="ER">Эритрея</option>
                <option value="EE">Эстония</option>
                <option value="ET">Эфиопия</option>
                <option value="ZA">Южная Африка</option>
                <option value="GS">Южная Джорджия и Южные Сандвичевы острова</option>
                <option value="KR">Южная Корея</option>
                <option value="JM">Ямайка</option>
                <option value="JP">Япония</option>
            </select>
        </div>
        <div class="alert alert-light" role="alert">Договор</div>
        <div class="form-check">
            <input id="jur-radio" name="ContractType" type="radio" value="Legal" class="form-check-input" checked>
            <label for="jur-radio" class="form-check-label">для юридического лица</label>
        </div>
        <div class="form-check">
            <input id="phys-radio" name="ContractType" type="radio" value="Physical" class="form-check-input">
            <label for="phys-radio" class="form-check-label">физического лица</label>
        </div>
        <div class="form-check">
            <input id="ind-radio" name="ContractType" type="radio" value="Individual" class="form-check-input">
            <label for="ind-radio" class="form-check-label">индивидуального предпринимателя</label>
        </div>
    </div>
    <!-- Часть для заполнения формы юридическим лицом -->
    <div id="jur" class="jur">
        <div class="form-group row">
            <label for="name-organization" class="col-sm-2 col-form-label">Название организации </label>
            <div class="col-sm-10">
                <input id="name-organization" name="LegalRequisites.NameOrganization" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="name-head" class="col-sm-2 col-form-label">ФИО руководителя </label>
            <div class="col-sm-10">
                <input id="name-head" name="LegalRequisites.NameHead" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Юридический адрес</div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-index" name="LegalRequisites.LegalAddress.Index" type="text" class="form-control" placeholder="Индекс">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="" name="LegalRequisites.LegalAddress.Region" type="text" class="form-control" placeholder="Оласть, район">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-locality" name="LegalRequisites.LegalAddress.Locality" type="text" class="form-control" placeholder="Населенный пункт">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-street" name="LegalRequisites.LegalAddress.Street" type="text" class="form-control" placeholder="Улица, переулок, проспект,....">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-house-number" name="LegalRequisites.LegalAddress.HouseNumber" type="text" class="form-control" placeholder="№ дома">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-room-number" name="LegalRequisites.LegalAddress.RoomNumber" type="text" class="form-control" placeholder="№ помещения">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">УНП</label>
            <div class="col-sm-10">
                <input id="jur-unp" name="LegalRequisites.AccountNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Контактные реквизиты</div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-index" name="LegalRequisites.LegalContactAddress.Index" type="text" class="form-control" placeholder="Индекс">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-region" name="LegalRequisites.LegalContactAddress.Region" type="text" class="form-control" placeholder="Оласть, район">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-locality" name="LegalRequisites.LegalContactAddress.Locality" type="text" class="form-control" placeholder="Населенный пункт">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-street" name="LegalRequisites.LegalContactAddress.Street" type="text" class="form-control" placeholder="Улица, переулок, проспект,....">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-house-number" name="LegalRequisites.LegalContactAddress.HouseNumber" type="text" class="form-control" placeholder="№ дома">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="jur-contact-room-number" name="LegalRequisites.LegalContactAddress.RoomNumber" type="text" class="form-control" placeholder="№ помещения">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-contact-preson" class="col-sm-2 col-form-label">Контактное лицо</label>
            <div class="col-sm-10">
                <input id="jur-contact-preson" name="LegalRequisites.ContactPerson" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-contact-phone" class="col-sm-2 col-form-label">Телефон</label>
            <div class="col-sm-10">
                <input id="jur-contact-phone" name="LegalRequisites.Phone" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-contact-fax" class="col-sm-2 col-form-label">Факс</label>
            <div class="col-sm-10">
                <input id="jur-contact-fax" name="LegalRequisites.Fax" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-contact-email" class="col-sm-2 col-form-label">Электронная почта</label>
            <input id="jur-contact-email" name="LegalRequisites.Email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="alert alert-light" role="alert">Банковские реквизиты</div>
        <div class="form-group row">
            <label for="jur-bank-account" class="col-sm-2 col-form-label">Расчётный счёт</label>
            <div class="col-sm-10">
                <input id="jur-bank-account" name="LegalRequisites.BankAccount" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-bank-name" class="col-sm-2 col-form-label">Название банка</label>
            <div class="col-sm-10">
                <input id="jur-bank-name" name="LegalRequisites.NameBank" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-bank-code" class="col-sm-2 col-form-label">Код банка</label>
            <div class="col-sm-10">
                <input id="jur-bank-code" name="LegalRequisites.BankCode" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Сведения из Единого государственного регистра (ЕГР)</div>
        <div class="form-group row">
            <label for="jur-reg-number" class="col-sm-2 col-form-label">Регистрационный номер</label>
            <div class="col-sm-10">
                <input id="jur-reg-number" name="LegalRequisites.RegistrationNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-reg-body" class="col-sm-2 col-form-label">Орган, осуществивший регистрацию</label>
            <div class="col-sm-10">
                <input id="jur-reg-body" name="LegalRequisites.BodyRegistration" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-reg-number" class="col-sm-2 col-form-label">№ решения о гос. регистрации</label>
            <div class="col-sm-10">
                <input id="jur-reg-number" name="LegalRequisites.NumberRegistration" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="jur-reg-date" class="col-sm-2 col-form-label">Дата решения о гос. регистрации</label>
            <div class="col-sm-10">
                <input id="jur-reg-date" name="LegalRequisites.DateRegistration" type="text" class="form-control" placeholder="__.__.____">
            </div>
        </div>
    </div>
    <!-- Часть для заполнения формы физическим лицом -->
    <div id="phys" class="phys">
        <div class="form-group row">
            <label for="phys-fio" class="col-sm-2 col-form-label">ФИО</label>
            <div class="col-sm-10">
                <input id="phys-fio" name="PhysicalRequisites.FIO" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Паспортные данные</div>
        <div class="form-group row">
            <label for="phys-series" class="col-sm-2 col-form-label">Серия</label>
            <div class="col-sm-10">
                <input id="phys-series" name="PhysicalRequisites.Series" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="phys-passport-number" class="col-sm-2 col-form-label">Номер паспорта</label>
            <div class="col-sm-10">
                <input id="phys-passport-number" name="PhysicalRequisites.PassportNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="phys-issued-by" class="col-sm-2 col-form-label">Кем выдан</label>
            <div class="col-sm-10">
                <input id="phys-issued-by" name="PhysicalRequisites.IssuedBy" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="phys-date-issue" class="col-sm-2 col-form-label">Дата выдачи</label>
            <div class="col-sm-10">
                <input id="phys-date-issue" name="PhysicalRequisites.DateIssue" type="text" class="form-control" placeholder="__.__.____">
            </div>
        </div>
        <div class="form-group row">
            <label for="phys-personal-number" class="col-sm-2 col-form-label">Личный номер</label>
            <div class="col-sm-10">
                <input id="phys-personal-number" name="PhysicalRequisites.PersonalNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Контактные реквизиты</div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-index" name="PhysicalRequisites.PhysicalAddress.Index" type="text" class="form-control" placeholder="Индекс">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-region" name="PhysicalRequisites.PhysicalAddress.Region" type="text" class="form-control" placeholder="Оласть, район">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-locality" name="PhysicalRequisites.PhysicalAddress.Locality" type="text" class="form-control" placeholder="Населенный пункт">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-street" name="PhysicalRequisites.PhysicalAddress.Street" type="text" class="form-control" placeholder="Улица, переулок, проспект,....">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-house-number" name="PhysicalRequisites.PhysicalAddress.HouseNumber" type="text" class="form-control" placeholder="№ дома">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="phys-room-number" name="PhysicalRequisites.PhysicalAddress.RoomNumber" type="text" class="form-control" placeholder="№ помещения">
            </div>
        </div>
        <div class="form-group row">
            <label for="phys-email" class="col-sm-2 col-form-label">Электронная почта</label>
            <input id="phys-email" name="PhysicalRequisites.Email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
    </div>
    <!-- Часть для заполнения формы индивидуальным предпринемателем -->
    <div id="ind" class="ind">
        <div class="form-group row">
            <label for="ind-fio" class="col-sm-2 col-form-label">ФИО</label>
            <div class="col-sm-10">
                <input id="ind-fio" name="IndividualRequisites.FIO" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-account-number" class="col-sm-2 col-form-label">УНП</label>
            <div class="col-sm-10">
                <input id="ind-account-number" name="IndividualRequisites.AccountNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Паспортные данные</div>
        <div class="form-group row">
            <label for="ind-series" class="col-sm-2 col-form-label">Серия</label>
            <div class="col-sm-10">
                <input id="ind-series" name="IndividualRequisites.Series" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-passport-number" class="col-sm-2 col-form-label">Номер паспорта</label>
            <div class="col-sm-10">
                <input id="ind-passport-number" name="IndividualRequisites.PassportNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-issued-by" class="col-sm-2 col-form-label">Кем выдан</label>
            <div class="col-sm-10">
                <input id="ind-issued-by" name="IndividualRequisites.IssuedBy" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-date-issue" class="col-sm-2 col-form-label">Дата выдачи</label>
            <div class="col-sm-10">
                <input id="ind-date-issue" name="IndividualRequisites.DateIssue" type="text" class="form-control" placeholder="__.__.____">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Личный номер</label>
            <div class="col-sm-10">
                <input id="ind-personal-number" name="IndividualRequisites.PersonalNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Контактные реквизиты</div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-index" name="IndividualRequisites.IndividualAddress.Index" type="text" class="form-control" placeholder="Индекс">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-region" name="IndividualRequisites.IndividualAddress.Region" type="text" class="form-control" placeholder="Оласть, район">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-locality" name="IndividualRequisites.IndividualAddress.Locality" type="text" class="form-control" placeholder="Населенный пункт">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-street" name="IndividualRequisites.IndividualAddress.Street" type="text" class="form-control" placeholder="Улица, переулок, проспект,....">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-house-number" name="Requisites.IndividualAddress.HouseNumber" type="text" class="form-control" placeholder="№ дома">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input id="ind-room-number" name="IndividualRequisites.IndividualAddress.RoomNumber" type="text" class="form-control" placeholder="№ помещения">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Электронная почта</label>
            <input id="ind-email" name="IndividualRequisites.Email" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="alert alert-light" role="alert">Банковские реквизиты</div>
        <div class="form-group row">
            <label for="ind-bank-account" class="col-sm-2 col-form-label">Расчётный счёт</label>
            <div class="col-sm-10">
                <input id="ind-bank-account" name="IndividualRequisites.BankAccount" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-name-bank" class="col-sm-2 col-form-label">Название банка</label>
            <div class="col-sm-10">
                <input id="ind-name-bank" name="IndividualRequisites.NameBank" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-bank-code" class="col-sm-2 col-form-label">Код банка</label>
            <div class="col-sm-10">
                <input id="ind-bank-code" name="IndividualRequisites.BankCode" type="text" class="form-control">
            </div>
        </div>
        <div class="alert alert-light" role="alert">Сведения из Единого государственного регистра (ЕГР)</div>
        <div class="form-group row">
            <label for="ind-registration-number" class="col-sm-2 col-form-label">Регистрационный номер</label>
            <div class="col-sm-10">
                <input id="ind-registration-number" name="ndividualRequisites.RegistrationNumber" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Орган, осуществивший регистрацию</label>
            <div class="col-sm-10">
                <input id="ind-body-registration" name="IndividualRequisites.BodyRegistration" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="ind-number-registration" class="col-sm-2 col-form-label">№ решения о гос. регистрации</label>
            <div class="col-sm-10">
                <input id="ind-number-registration" name="IndividualRequisites.NumberRegistration" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Дата решения о гос. регистрации</label>
            <div class="col-sm-10">
                <input id="ind-date-registration" name="IndividualRequisites.DateRegistration" type="text" class="form-control" placeholder="__.__.____">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

