@model Kernel.Models.Employee

@{
    ViewBag.Title = "Добавление нового сотрудника";
}

<div class="alert alert-primary" role="alert">Добавление нового сотрудника</div>
<form action="/Employee/Add" method="post">
    <div class="form-group">
        <label for="FirstName">Имя сотрудника</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="Имя сотрудника">
    </div>
    <div class="form-group">
        <label for="SecondName">Фамилия сотрудника</label>
        <input type="text" id="SecondName" name="SecondName" class="form-control" placeholder="Фамилия сотрудника">
    </div>
    <div class="alert alert-light" role="alert">Выберите роль сотрудника</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Role" id="RoleAdmin" value="Admin">
        <label class="form-check-label" for="exampleRadios1">Администратор</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Role" id="RoleManager" value="Manager">
        <label class="form-check-label" for="exampleRadios1">Менеджер</label>
    </div><br /><br />
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>