@{
    ViewBag.Title = "Журнал задач";
}
@Html.Partial("partialTaskFilter")
@Html.ActionLink("На главную страницу", "Index", "Home", null, new { @class = "btn btn-secondary", role = "button" })

@* Высплывающе окно по клику на ссылке задач *@
<div data-bind="if: displayCallForm">
    <div id="call-form-container">
        <div class="call-form-view">
            <form id="call-form">
                <div id="call-form-content">
                    <div id="call-form-user-name">
                        @*' + data.User.LegalRequisites.NameOrganization + '*@
                    </div>
                    <div id="call-form-user-info">
                        @*Юр.*@
                        <span style="padding-left: 1.8em">@*' + data.User.Email + '*@</span>
                        <span style="padding-left: 1.8em">@*' + data.User.LegalRequisites.Email + '*@</span>
                    </div>
                    <div id="call-form-user-phone">
                        <span><input type="radio" name="Phone" value="' + data.User.LegalRequisites.Phone + '" />@*' + data.User.LegalRequisites.Phone + '*@</span>
                        <span style="padding-left: 1.8em"><input type="radio" name="Phone" @*value="' + data.User.LegalRequisites.Fax + '"*@ />@*' + data.User.LegalRequisites.Fax + '.ф*@</span>
                        <span style="padding-left: 1.8em"><input id="additional-phone-control" type="radio" name="Phone" /></span>
                        <span><input id="additional-phone" type="text" name="Phone" placeholder="Другой номер" disabled /></span>
                    </div>
                    @*for (var i = 0; i < data.User.Services.length; i++)*@
                    <div id="call-form-user-services">
                        <span style="padding-left: 1.8em">@*' + (data.User.Services[i].ServiceType == 1 ? 'Домен' : 'Хост') + '*@</span>
                        <span style="padding-left: 1.8em">@*' + data.User.Services[i].Name + '*@</span>
                        <span style="padding-left: 1.8em">@*' + data.User.Services[i].ExDate.substring(0, 10) +*@ </span>
                        <div>
                            <select name="Result">
                                <option value="" selected>Выбрать результат звонка</option>
                                <option value="Уведомлен, оплатят">Уведомлен, оплатят</option>
                                <option value="Уведомлен, отказ">Уведомлен, отказ</option>
                                <option value="Не берет трубку">Не берет трубку</option>
                                <option value="Временно не доступен">Временно не доступен</option>
                                <option value="Номер занят">Номер занят</option>
                                <option value="Контакты не актуальны">Контакты не актуальны</option>
                                <option value="Иное">Иное</option>
                            </select>
                            <textarea name="Comment" placeholder="Примечание" rows="1" cols="250"></textarea>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="call-form-view-button">
                    <button id="#call-form-button-submit" type="submit"><b>Сохранить</b></button>
                    <button type="reset">Очистить</button>
                    <button id="call-form-button-close" type="button">Закрыть</button>
                </div>
            </form>
            <div class="call-form-history">
                <h5>История звонков</h5>
                @*for (var i = 0; i < data.User.Services.length; i++)*@
                <hr />
                <div>
                    <span>@*' + (data.User.Services[i].ServiceType == 1 ? 'Домен' : 'Хост') + '*@</span>
                    <span>@*' + data.User.Services[i].Name + '*@</span>
                    <span>@*' + (data.User.Services["0"].CallLog.Result != null ? data.User.Services["0"].CallLog.Result : 'No data') + '*@</span>
                    <span>@*' + (data.User.Services["0"].CallLog.Phone != null ? data.User.Services["0"].CallLog.Phone : 'No data') + '*@</span>
                    <span>@*' + (data.User.Services["0"].CallLog.Employee.Role == 3 ? 'administrator' : 'No data') + '*@</span>
                    <span></span>
                    <div>@*' + (data.User.Services["0"].CallLog.Comment == null ? data.User.Services["0"].CallLog.Comment : 'No data') +'*@</div>
                </div>
            </div>
        </div>
    </div>
</div>