<div class="alert alert-primary" role="alert">Журнал звонков</div>
<div class="link-task">
    <div class="link-task-row1">@Html.ActionLink("Задачи", "Index", "Task")</div>
    <div class="link-task-row2"><p>Журнал звонков</p></div>
</div>
<div class="call-form-container">
    <form action="/Call/GetCallTable" method="post">
        <p><b>Фильтр</b></p>
        <div class="call-form-service">
            <p>Услуга</p>
            <input class="form-check-input" type="text" name="ServiceName" id="call-form-service">
        </div>
        <div class="call-form-result">
            <p>Исход</p>
            <select name="Result">
                <option value="Все" selected>Все</option>
                <option value="Уведомлен, оплатят">Уведомлен, оплатят</option>
                <option value="Уведомлен, отказ">Уведомлен, отказ</option>
                <option value="Не берет трубку">Не берет трубку</option>
                <option value="Временно не доступен">Временно не доступен</option>
                <option value="Номер занят">Номер занят</option>
                <option value="Контакты не актуальны">Контакты неактуальны</option>
                <option value="Иное">Иное</option>
            </select>
        </div>
        <div class="call-form-term">
            <p>Период</p>
            <div class="call-form-from" style="display: inline-block">
                <label class="call-form-from-label" for="call-form-from">с</label>
                <input type="text" id="call-form-from" name="From">
            </div>
            <div class="call-form-to" style="display: inline-block">
                <label class="call-form-to-lable" for="call-form-to">по</label>
                <input type="text" id="call-form-to" name="To">
            </div>
        </div>
        <div class="call-form-button">
            <button type="submit">Вывести</button>
            <button type="reset" id="reset-box-button">Очистить</button>
        </div>
    </form>
</div>

